{{> nave-admin }}
<div class="row">
    {{#each facts}}    
        <div class="col-md-6">
            <div class="card mx-auto">
                 <div class="card-header">
                    <h3>FACTURA</h3><br>
                    <h4>N° {{_id}}</h4>
                 </div>
                <div class="card-body">
                     <h4 class="card-title d-flex justify-content-between align-items-center">
                        NOMBRE   : {{nombre}} <a href="/src/archivo/FACTURA-COLORADO'S_WATER.pdf" download="FACTURA-COLORADO'S-WATER.pdf"><i class="fas fa-download"></i></a>
                    </h4>
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        CÉDULA   : {{cedula}}
                    </h4>
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        DIRECCIÓN: {{direccion}}
                    </h4>
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        TELÉFONO : 0{{telefono}}
                    </h4>
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        FECHA : {{fecha}}
                    </h4>
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        PRODUCTO : {{producto}} 
                    </h4>
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        CANTIDAD : {{cantidad}} Unidades
                    </h4><br>
                    <h4 class="card-title">
                        TOTAL A PAGAR : $ {{total}}
                    </h4>
                    <form action="/factura/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger w-100 btn-sm" type="submit">
                            ELIMINAR FACTURA
                        </button>
                    </form>
                </div>
            </div><br>
        </div>

    {{else}}
        <div class="card text-center">
            <div class="card-body">
                <p class="lead">No hay facturas aún</p>
                <a href="/productos" class="btn btn-success w-100">Realiza una compra!</a>
            </div>
        </div>
    {{/each}}

    
</div>
