<div class="row">
    {{#each facturas}}    
        <div class="col-md-6">
            <div class="card mx-auto">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        NOMBRE   : {{nombre}} <a href="/compras/edit/{{_id}}"><i class="fas fa-print"></i></a>
                    </h4>
                    <h4 class="card-title">
                        CÉDULA   : {{cedula}}
                    </h4>
                    <h4 class="card-title">
                        DIRECCIÓN: {{direccion}}
                    </h4>
                    <h4 class="card-title">
                        TELÉFONO : {{telefono}}
                    </h4>
                    <form action="/compras/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger w-100 btn-sm" type="submit">
                            ELIMINAR
                        </button>
                    </form>
                </div>
            </div><br>
        </div>

    {{else}}
        <div class="card text-center">
            <div class="card-body">
                <p class="lead">No hay facturas aún</p>
                <a href="/compras/Factura" class="btn btn-success w-100">Haz tu compra!</a>
            </div>
        </div>
    {{/each}}

    
</div>
